# Python cache files
__pycache__/
*.pyc
*.pyo

# Environment files
.env
*.env

# Logs and temporary files
*.log
logs/

# IDE/editor settings
.vscode/
.idea/

# Node.js-related files
node_modules/
dist/

# Alembic migration cache
alembic/versions/__pycache__/

# frontend
frontend/

# Excel files
*.xlsx
*.csv
# schemas/__pycache__/
# models/__pycache__/
# crud/__pycache__/
# __pycache__/
backend/test/
__pycache__/
*.py[cod]
*.py[cod]e

tasks/